*.nupkg
!*.Tests/**/*.nupkg
temp
libs
report.xml

bin
obj
*ReSharper*
*.suo
*.user
packages
TestResults
reports
reports1.x
psmake.mod.update-version-info.Tests/proj/
psmake.mod.update-version-info.Tests/file.txt
psmake.mod.update-version-info.Tests/proj2
