*.nupkg
!*.Tests/**/*.nupkg
temp
libs
report.xml

bin
obj
*ReSharper*
*.suo
*.user
packages
TestResults
reports
psmake.mod.update-assembly-info-version.Tests/proj/
psmake.mod.update-assembly-info-version.Tests/file.txt
psmake.mod.update-assembly-info-version.Tests/proj2
